<div class="container">
  <div class="page-header">
    <h1>URLs</h1>
  </div>
  <div>
    <h4 class="note note-info text-center">
      <p><a href="http://etc.minerpool.co">ETC Classic Mining Pool</a></p>
      <p><a href="http://eth.minerpool.co">ETH Mining Pool</a></p>
      <p><a href="http://dbix.minerpool.co">DBIX Mining Pool</a></p>
    </h4>
  </div>
</div>

